---
import type { MarkdownLayoutProps } from "astro";
import Main from "./Main.astro";

type Props = MarkdownLayoutProps<{
    title: string;
    subtitle: string;
    poster: string;
}>;

const { title, subtitle, poster } = Astro.props.frontmatter;


---

<Main title="Lilly Nguyen | Favorite Things">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>

    <div class="blog-container">
        <figure class="figure">
            <img src={poster} alt="" class="figure__image" />
            <figcaption data-title={title} >
                Poster image for {title}
            </figcaption>
        </figure>

        <slot />
    </div>
</Main>

<style>
    .figure {
        margin: 0;
    }
    .figure__image {
        margin-bottom: .25em;
        width: 100%;
    }

    figcaption {
        font-size: .9rem;
        width: 85%;
    }

</style>

<script>
    const figcaption = document.querySelector('figcaption');
    let blogTitle = figcaption?.dataset.title;
    blogTitle = blogTitle?.toLowerCase();
    const titleSplit = blogTitle?.split(' ');

    function capitalizeName(title: any) {
        let titleArray = [];
        let newTitle;
        for (const word of title) {
            if (word === "lilly\'s") {
                titleArray.push("Lilly's");
            } else {
                titleArray.push(word);
            }
        }

        newTitle = titleArray.join(' ');
        return newTitle;
    }

    const modifiedTitle = capitalizeName(titleSplit);

    if (figcaption) {
        figcaption.innerHTML = `Poster image for ${modifiedTitle}`;
    }


</script>